:root {
	--color-dark: #171c1f;
	/* --color-light: #f0f3f5; */
	--color-light: #d9ae93;
}

body {
	background-color: var(--color-dark);
	color: white;
}

.header {
	background-color: var(--color-light);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 8px;
	color: black;
}
.header__title {
	font-size: 32px;
}
